In [1]:
import pandas as pd
import numpy as np
import os
os.chdir("D:\Term-2\MachineLearning")

In [2]:
movies=pd.read_csv("movie_metadata.csv")

In [3]:
movies.isnull().sum()

color                         19
director_name                104
num_critic_for_reviews        50
duration                      15
director_facebook_likes      104
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        884
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                153
movie_imdb_link                0
num_user_for_reviews          21
language                      12
country                        5
content_rating               303
budget                       492
title_year                   108
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 329
movie_facebook_likes           0
dtype: int64

In [4]:
movies.shape

(5043, 28)

In [5]:
mov=movies[['movie_title','imdb_score','num_user_for_reviews']]

In [6]:
mov.isnull().sum()

movie_title              0
imdb_score               0
num_user_for_reviews    21
dtype: int64

In [7]:
mov.dropna()

,movie_title,imdb_score,num_user_for_reviews
0,Avatar,7.9,3054.0
1,Pirates of the Caribbean: At World's End,7.1,1238.0
2,Spectre,6.8,994.0
3,The Dark Knight Rises,8.5,2701.0
5,John Carter,6.6,738.0
6,Spider-Man 3,6.2,1902.0
7,Tangled,7.8,387.0
8,Avengers: Age of Ultron,7.5,1117.0
9,Harry Potter and the Half-Blood Prince,7.5,973.0
10,Batman v Superman: Dawn of Justice,6.9,3018.0
11,Superman Returns,6.1,2367.0
12,Quantum of Solace,6.7,1243.0
13,Pirates of the Caribbean: Dead Man's Chest,7.3,1832.0
14,The Lone Ranger,6.5,711.0
15,Man of Steel,7.2,2536.0
16,The Chronicles of Narnia: Prince Caspian,6.6,438.0
17,The Avengers,8.1,1722.0
18,Pirates of the Caribbean: On Stranger Tides,6.7,484.0
19,Men in Black 3,6.8,341.0
20,The Hobbit: The Battle of the Five Armies,7.5,802.0
21,The Amazing Spider-Man,7.0,1225.0
22,Robin Hood,6.7,546.0
23,The Hobbit: The Desolation of Smaug,7.9,951.0
24,The Golden Compass,6.1,666.0
25,King Kong,7.2,2618.0
26,Titanic,7.7,2528.0
27,Captain America: Civil War,8.2,1022.0
28,Battleship,5.9,751.0
29,Jurassic World,7.0,1290.0
30,Skyfall,7.8,1498.0
...,...,...,...
5013,Manito,7.0,21.0
5014,Rampage,6.3,129.0
5015,Slacker,7.1,80.0
5016,Dutch Kills,4.8,2.0
5017,Dry Spell,3.3,3.0
5018,Flywheel,6.9,49.0
5019,Exeter,4.6,33.0
5020,The Ridges,3.0,8.0
5021,The Puffy Chair,6.6,71.0
5022,Stories of Our Lives,7.4,1.0
5023,Breaking Upwards,6.2,8.0
5024,All Superheroes Must Die,4.0,35.0
5025,Pink Flamingos,6.1,183.0
5026,Clean,6.9,39.0
5027,The Circle,7.5,26.0
5028,Tin Can Man,6.7,1.0
5029,The Cure,7.4,50.0
5030,On the Downlow,6.1,3.0
5031,Sanctuary; Quite a Conundrum,5.4,8.0
5032,Bang,6.4,14.0
5033,Primer,7.0,371.0
5034,Cavite,6.3,35.0
5035,El Mariachi,6.9,130.0
5036,The Mongol King,7.8,1.0
5037,Newlyweds,6.4,14.0
5038,Signed Sealed Delivered,7.7,6.0
5039,The Following,7.5,359.0
5040,A Plague So Pleasant,6.3,3.0
5041,Shanghai Calling,6.3,9.0
5042,My Date with Drew,6.6,84.0

In [8]:
mov['popularity_index']=mov.imdb_score*mov.num_user_for_reviews

C:\Users\Administrator\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [9]:
mov.sort_values('popularity_index',ascending=False)

,movie_title,imdb_score,num_user_for_reviews,popularity_index
270,The Lord of the Rings: The Fellowship of the R...,8.8,5060.0,44528.0
66,The Dark Knight,9.0,4667.0,42003.0
1937,The Shawshank Redemption,9.3,4144.0,38539.2
654,The Matrix,8.7,3646.0,31720.2
339,The Lord of the Rings: The Return of the King,8.9,3189.0,28382.1
683,Fight Club,8.8,2968.0,26118.4
236,Star Wars: Episode III - Revenge of the Sith,7.6,3286.0,24973.6
97,Inception,8.8,2803.0,24666.4
0,Avatar,7.9,3054.0,24126.6
237,Star Wars: Episode II - Attack of the Clones,6.7,3516.0,23557.2
96,Interstellar,8.6,2725.0,23435.0
240,Star Wars: Episode I - The Phantom Menace,6.5,3597.0,23380.5
3,The Dark Knight Rises,8.5,2701.0,22958.5
2606,American Beauty,8.4,2715.0,22806.0
120,Batman Begins,8.3,2685.0,22285.5
4707,The Blair Witch Project,6.4,3400.0,21760.0
340,The Lord of the Rings: The Two Towers,8.7,2417.0,21027.9
10,Batman v Superman: Dawn of Justice,6.9,3018.0,20824.2
3466,The Godfather,9.2,2238.0,20589.6
283,Gladiator,8.5,2368.0,20128.0
126,The Matrix Reloaded,7.2,2789.0,20080.8
1866,The Passion of the Christ,7.1,2814.0,19979.4
648,Saving Private Ryan,8.6,2277.0,19582.2
3355,Pulp Fiction,8.9,2195.0,19535.5
26,Titanic,7.7,2528.0,19465.6
25,King Kong,7.2,2618.0,18849.6
2049,King Kong,7.2,2618.0,18849.6
4694,King Kong,7.2,2618.0,18849.6
2944,Casino Royale,8.0,2301.0,18408.0
286,Casino Royale,8.0,2301.0,18408.0
...,...,...,...,...
4777,The Little Ponderosa Zoo,5.2,1.0,5.2
4136,Four Single Fathers,5.1,1.0,5.1
4699,Adulterers,4.9,1.0,4.9
4958,Over the Hill to the Poorhouse,4.8,1.0,4.8
507,Top Cat Begins,4.4,1.0,4.4
4848,Bizarre,4.3,1.0,4.3
4968,Echo Dr.,3.6,1.0,3.6
4622,Steppin: The Movie,3.4,1.0,3.4
4299,Hum To Mohabbat Karega,2.8,1.0,2.8
4,Star Wars: Episode VII - The Force Awakens ...,7.1,NaN,NaN
279,"10,000 B.C.",7.2,NaN,NaN
1510,Black Water Transit,7.2,NaN,NaN
2342,The Doombolt Chase,7.2,NaN,NaN
2345,The Touch,5.2,NaN,NaN
2370,"Gone, Baby, Gone",6.6,NaN,NaN
2765,Towering Inferno,9.5,NaN,NaN
2870,Del 1 - Män som hatar kvinnor,8.1,NaN,NaN
3816,Running Forever,8.6,NaN,NaN
4323,"To Be Frank, Sinatra at 100",7.4,NaN,NaN
4372,A Beginner's Guide to Snuff,8.7,NaN,NaN
4436,Me You and Five Bucks,7.6,NaN,NaN
4617,Childless,6.1,NaN,NaN
4713,Water & Power,6.3,NaN,NaN
4767,America Is Still the Place,7.5,NaN,NaN
4854,Death Calls,4.3,NaN,NaN
4859,Amidst the Devil's Wings,4.3,NaN,NaN
4878,Jesus People,6.9,NaN,NaN
4929,Perfect Cowboy,7.0,NaN,NaN
4945,The Brain That Sings,8.2,NaN,NaN
4948,Romantic Schemer,5.1,NaN,NaN

In [10]:
mov1 =mov.quantile(0.99)
mov1

imdb_score                  8.500
num_user_for_reviews     2010.110
popularity_index        14433.597
Name: 0.99, dtype: float64

In [11]:
mov[mov.popularity_index>mov1.popularity_index]

,movie_title,imdb_score,num_user_for_reviews,popularity_index
0,Avatar,7.9,3054.0,24126.6
3,The Dark Knight Rises,8.5,2701.0,22958.5
10,Batman v Superman: Dawn of Justice,6.9,3018.0,20824.2
11,Superman Returns,6.1,2367.0,14438.7
15,Man of Steel,7.2,2536.0,18259.2
25,King Kong,7.2,2618.0,18849.6
26,Titanic,7.7,2528.0,19465.6
66,The Dark Knight,9.0,4667.0,42003.0
96,Interstellar,8.6,2725.0,23435.0
97,Inception,8.8,2803.0,24666.4
120,Batman Begins,8.3,2685.0,22285.5
126,The Matrix Reloaded,7.2,2789.0,20080.8
161,Spider-Man,7.3,2012.0,14687.6
189,War of the Worlds,6.5,2741.0,17816.5
205,Pirates of the Caribbean: The Curse of the Bla...,8.1,2113.0,17115.3
227,Prometheus,7.0,2326.0,16282.0
236,Star Wars: Episode III - Revenge of the Sith,7.6,3286.0,24973.6
237,Star Wars: Episode II - Attack of the Clones,6.7,3516.0,23557.2
240,Star Wars: Episode I - The Phantom Menace,6.5,3597.0,23380.5
246,Gravity,7.8,1885.0,14703.0
270,The Lord of the Rings: The Fellowship of the R...,8.8,5060.0,44528.0
283,Gladiator,8.5,2368.0,20128.0
286,Casino Royale,8.0,2301.0,18408.0
339,The Lord of the Rings: The Return of the King,8.9,3189.0,28382.1
340,The Lord of the Rings: The Two Towers,8.7,2417.0,21027.9
361,The Departed,8.5,2054.0,17459.0
373,A.I. Artificial Intelligence,7.1,2153.0,15286.3
581,Signs,6.7,2335.0,15644.5
648,Saving Private Ryan,8.6,2277.0,19582.2
654,The Matrix,8.7,3646.0,31720.2
683,Fight Club,8.8,2968.0,26118.4
709,300,7.7,2073.0,15962.1
855,Kill Bill: Vol. 1,8.1,2105.0,17050.5
880,The Phantom of the Opera,7.4,2047.0,15147.8
903,Moulin Rouge!,7.6,2319.0,17624.4
960,V for Vendetta,8.2,2042.0,16744.4
1181,The Sixth Sense,8.1,2073.0,16791.3
1866,The Passion of the Christ,7.1,2814.0,19979.4
1882,Cloverfield,7.0,2192.0,15344.0
1937,The Shawshank Redemption,9.3,4144.0,38539.2
2049,King Kong,7.2,2618.0,18849.6
2606,American Beauty,8.4,2715.0,22806.0
2819,Brokeback Mountain,7.7,2254.0,17355.8
2944,Casino Royale,8.0,2301.0,18408.0
3355,Pulp Fiction,8.9,2195.0,19535.5
3466,The Godfather,9.2,2238.0,20589.6
3716,Memento,8.5,2067.0,17569.5
3849,Requiem for a Dream,8.4,1916.0,16094.4
3854,Donnie Darko,8.1,2110.0,17091.0
4694,King Kong,7.2,2618.0,18849.6
4707,The Blair Witch Project,6.4,3400.0,21760.0

# book_data

In [12]:
book=pd.read_csv("book_recom.csv")
book.head()

,userID,ISBN,bookRating,bookTitle,totalRatingCount,Location
0,276725,034545104X,0,Flesh Tones: A Novel,60,"tyler, texas, usa"
1,2313,034545104X,5,Flesh Tones: A Novel,60,"cincinnati, ohio, usa"
2,6543,034545104X,0,Flesh Tones: A Novel,60,"strafford, missouri, usa"
3,8680,034545104X,5,Flesh Tones: A Novel,60,"st. charles county, missouri, usa"
4,10314,034545104X,9,Flesh Tones: A Novel,60,"beaverton, oregon, usa"

In [13]:
book1 =book[['bookTitle','userID','bookRating']]
book1.head()

              bookTitle  userID  bookRating
0  Flesh Tones: A Novel  276725           0
1  Flesh Tones: A Novel    2313           5
2  Flesh Tones: A Novel    6543           0
3  Flesh Tones: A Novel    8680           5
4  Flesh Tones: A Novel   10314           9

In [14]:
book_pivot = (book1.pivot_table(columns='userID',index='bookTitle',values='bookRating').fillna(0))

In [15]:
book_pivot.head()

userID,14,23,26,51,67,99,135,243,254,256,...,278483,278514,278535,278552,278582,278633,278740,278769,278773,278843
bookTitle,,,,,,,,,,,,,,,,,,,,,
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"A Child Called \It\"": One Child's Courage to Survive""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Cold Heart: An Alex Delaware Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Kiss of Shadows (Meredith Gentry Novels (Paperback)),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Man in Full,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors

In [17]:
?NearestNeighbors

In [35]:
book_matrix = csr_matrix(book_pivot.values)
book_matrix

<198x11337 sparse matrix of type '<class 'numpy.float64'>'
	with 11110 stored elements in Compressed Sparse Row format>

In [36]:
model_knn =NearestNeighbors(metric = 'cosine',algorithm = 'brute')

In [38]:
model_knn.fit(book_matrix)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
         metric_params=None, n_jobs=1, n_neighbors=5, p=2, radius=1.0)

In [39]:
model_knn.fit(book_pivot)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
         metric_params=None, n_jobs=1, n_neighbors=5, p=2, radius=1.0)

In [40]:
query_index1 = 0

In [41]:
distance,indicies = model_knn.kneighbors(book_pivot.iloc[query_index1,:].reshape(1,-1),n_neighbors=6)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead
  """Entry point for launching an IPython kernel.

In [42]:
distance,indicies

(array([[8.88178420e-16, 8.55547477e-01, 8.99648678e-01, 9.01499761e-01,
         9.09253938e-01, 9.22857167e-01]]),
 array([[  0, 110,  12, 188,  26,  78]], dtype=int64))

In [48]:
book_pivot.index[indicies]

Index([['1st to Die: A Novel', 'Roses Are Red (Alex Cross Novels)', 'Along Came a Spider (Alex Cross Novels)', 'Violets Are Blue', 'Cat &amp; Mouse (Alex Cross Novels)', 'Jack &amp; Jill (Alex Cross Novels)']], dtype='object', name='bookTitle')

# Shopalst-Interview

In [49]:
os.chdir("D:/Term-2/Shoplayst")

In [50]:
pro =pd.read_csv("products - Sheet1.csv")

In [51]:
pro.head()

,ProductId,Title,Image URL,Division,Category,Sub category,Article type,Offer price,Sale price,Color,Gender
0,E8AC41D107EA5DBB5DF561A684899B38,Color Dose Pearls Bronze 59 Nail Polish,"https://media6.ppl-media.com/tr:h-750,w-750,c-...",Makeup,Nails,Nail Polish,Nail Polish,59,59,Color Dose,women
1,04AE770377AABCCBCCDD5FBC93CC83E1,Rimmel Space Dust Nail Polish - Luna Love #004,"https://media6.ppl-media.com/tr:h-750,w-750,c-...",Makeup,Nails,Nail Polish,Nail Polish,310,310,Rimmel,women
2,21B0CF144B3CFFDDCCE4937C7731A7CE,Color Dose Pearls Copper Rust 58 Nail Polish,"https://media6.ppl-media.com/tr:h-750,w-750,c-...",Makeup,Nails,Nail Polish,Nail Polish,59,59,Color Dose,women
3,129CE0C7596D2D346E5CDC54E55A3A67,Color Dose Matt Nude 25 Nail Polish,"https://media6.ppl-media.com/tr:h-235,w-235,c-...",NaN,Nails,Nail Polish,Nail Polish,59,59,color dose,women
4,A5E51E0F6C9929ECD16D875EC9A4AFA5,SUGAR Tip Tac Toe Nail Lacquer - 032 Mary Popp...,"https://media6.ppl-media.com/tr:h-750,w-750,c-...",Makeup,Nails,Nail Polish,Nail Polish,237,249,Sugar,women

In [52]:
pro.isnull().sum()

ProductId          0
Title              0
Image URL          0
Division        2394
Category           0
Sub category       0
Article type       0
Offer price        0
Sale price         0
Color            108
Gender             0
dtype: int64

In [54]:
index=pro['ProductId']
title = pro['Title']

In [55]:
pro1 = pro.drop(['Title','Image URL','Division','Color','ProductId'],axis=1)

In [58]:
pro_dum=pd.get_dummies(pro1)

In [60]:
from sklearn.feature_extraction.text import CountVectorizer

In [61]:
count_vector =CountVectorizer(stop_words='english',min_df=5)

In [64]:
count_vector.fit(title)
dtm = count_vector.transform(title)

In [65]:
df_dtm = pd.DataFrame(dtm.toarray(),columns = count_vector.get_feature_names())
df_dtm.head()

,001,003,01,02,03,04,05,06,07,08,...,ylg,york,youthful,yves,zenvista,zinc,zircon,zuci,zuii,zuska
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [66]:
dtm1 = dtm.toarray()
dtm2  = pd.DataFrame(dtm1)

In [68]:
product =pd.concat([pro_dum,dtm2],axis=1)

In [69]:
product.head()

,Offer price,Sale price,Category_Beard Care,Category_Body,Category_Body Oils,Category_Body Treatment,Category_Body Wash,Category_Combs,Category_Conditioner,Category_Condoms,...,1537,1538,1539,1540,1541,1542,1543,1544,1545,1546
0,59,59,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,310,310,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,59,59,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,59,59,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,237,249,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [73]:
from sklearn.neighbors import NearestNeighbors

In [74]:
model_kn = NearestNeighbors(metric='cosine',algorithm='brute')
model_kn.fit(product)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
         metric_params=None, n_jobs=1, n_neighbors=5, p=2, radius=1.0)

In [75]:
test = product.iloc[0,:].reshape(1,-1)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead
  """Entry point for launching an IPython kernel.

In [77]:
distances,indices = model_kn.kneighbors(test,n_neighbors=10)
ind = indicies[0]
recom = index[indices[0]]

NameError: name 'top' is not defined